.friends__section {
    > .friends__section-header {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        padding: 10px 15px;
        font-size: 14px;
        color: #b4b4b4;
    }
    > .friends__section-rows {
        > .friends__section-row {
            padding: 10px 15px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: inherit;
            }
            
            img {
                width: 40px;
                border-radius: 50%;
                margin-right: 15px;
            }

            > .friends__section-column {
                display: flex;
                align-items: center;
            }

            &.with-tagline {
                justify-content: space-between;

                > .friends__section-tagline {
                    font-size: 12px;
                    background-color: #f0f0f0;
                    padding: 10px 15px;
                    border-radius: 5px;
                    color: #939393;
                }
            }
        }
    }
}